.table-students{
    justify-content: center;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

.table-head {
    background-color: #f2f2f2;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
  }

  .table-row td {
    background: lavender;
  }
  
  .table-row th {
    padding: 12px 15px;
    font-weight: bold;
    width: 33%;
  }
  
  
  th, td {
    padding: 12px 15px;
    border-right: 1px solid #ddd;
  }
  
  th:last-child, td:last-child {
    border-right: none;
  }